{% if app.session.get('totalCart') %}
    <span class="absolute -right-2 -top-1.5 text-white bg-red-600 w-4 h-4 text-xs leading-4 text-center rounded-full">
        {{ app.session.get('totalCart').count | default('') }}
    </span>
{% endif %}