{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<main class="p-4 md:ml-64 h-auto pt-20">
    {% if app.user and app.user.isVerified %}
        <p>Votre compte est vérifié</p>
    {% else %}
        <a href="{{ path('account.send_verification') }}">Envoyer un mail de vérification</a>
    {% endif %}
</main>

{% endblock %}
