{% extends 'base.html.twig' %}

{% block title %}Jeux Olympiques de Paris 2024{%endblock %}

{% block body %}

<section class="h-screen">
    <div id="home" class="h-full flex items-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36 my-8">
                <span class="font-semibold text-white uppercase">
                    {% include 'components/countDown.html.twig' %}
                </span>
            </div>

            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Ouvrons Grand Les Jeux</h1>
            <p class="mb-8 text-lg font-normal text-white lg:text-xl sm:px-16 xl:px-48">Faites le plein de sensation fortes ! Les meilleurs athlètes du monde vont grimper, patiner et rouler pour la victoire et pour Paris 2024.</p>

            <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="#knowMore" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    En savoir plus
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
                    </svg>
                </a>

                <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
                    </svg>
                    Réservez mes places
                </a>
            </div>
        </div>
    </div>
</section>

<section id="knowMore">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <p class="mb-4">
                Les Jeux Olympiques, un événement sportif international de renom, rassemblent les athlètes les plus talentueux du monde entier pour célébrer l'excellence et la camaraderie. Depuis leur création dans la Grèce antique jusqu'à leur résurgence moderne, les Jeux ont évolué pour devenir un symbole de paix et d'unité mondiale.
                <br /><br />
                Découvrez l'histoire fascinante de cette tradition millénaire et laissez-vous inspirer par les exploits héroïques et les moments inoubliables qui ont marqué chaque édition des Jeux.
            </p>

            <div class="mt-4">
                <a href="#" title="" class="inline-flex items-center text-lg font-medium text-primary-600 hover:underline dark:text-primary-500">
                    En savoir plus

                    <svg aria-hidden="true" class="w-5 h-5 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="/images/relais-flamme-olympique-left.jpg" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/images/relais-flamme-olympique-right.jpg" alt="office content 2">
        </div>
    </div>
</section>

<section>
    <div class="py-6 px-16 max-w-screen-xl mx-auto">
        <div class="flex flex-wrap my-16">
            <div class="p-5 w-2/3">
                {% include 'components/title.html.twig' with {'title': 'Les Jeux'} %}
            </div>

            <div class="p-5 w-1/3">
                <article class="w-full p-4 rounded-lg border shadow-md bg-gray-800 border-gray-700">
                    <img class="mb-5 rounded-lg max-w-full h-auto block align-middle" src="/images/sports/rugby.avif" alt="Sport aux JO"/>

                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">Rugby à 7</h2>
                    <p class="mb-5 font-light text-gray-400">
                        Le rugby, réintroduit aux Jeux Olympiques en 2016, se joue en équipes de sept joueurs sur un terrain herbeux.
                        Ce sport dynamique combine vitesse, force et stratégie, offrant des matchs intenses et spectaculaires.
                        Les essais, les plaquages et les courses effrénées en font un spectacle captivant.
                    </p>
                </article>
            </div>

            <div class="p-5 w-1/3">
                <article class="w-full p-4 rounded-lg border shadow-md bg-gray-800 border-gray-700">
                    <img class="mb-5 rounded-lg max-w-full h-auto block align-middle" src="/images/sports/athletisme.avif" alt="Sport aux JO"/>

                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">Athlétisme</h2>
                    <p class="mb-5 font-light text-gray-400">
                        L'athlétisme est au cœur des Jeux Olympiques, englobant des épreuves de course, de saut et de lancer.
                        Les compétitions vont du sprint de 100 mètres au marathon, en passant par le saut en hauteur et le lancer du javelot.
                        C'est le sport ultime de vitesse, d'endurance et de puissance.
                    </p>
                </article>
            </div>

            <div class="p-5 w-1/3">
                <article class="w-full p-4 rounded-lg border shadow-md bg-gray-800 border-gray-700">
                    <img class="mb-5 rounded-lg max-w-full h-auto block align-middle" src="/images/sports/natation.avif" alt="Sport aux JO"/>

                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">Natation</h2>
                    <p class="mb-5 font-light text-gray-400">
                        La natation est une discipline olympique phare, regroupant des épreuves variées telles que le crawl, le dos, la brasse et le papillon.
                        Les nageurs concourent en individuel ou en relais sur différentes distances.
                        La combinaison de technique, de vitesse et d'endurance fait de ce sport un spectacle palpitant.
                    </p>
                </article>
            </div>

            <div class="p-5 w-1/3">
                <article class="w-full p-4 rounded-lg border shadow-md bg-gray-800 border-gray-700">
                    <img class="mb-5 rounded-lg max-w-full h-auto block align-middle" src="/images/sports/gymnastique.avif" alt="Sport aux JO"/>

                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-white">Gymnastique</h2>
                    <p class="mb-5 font-light text-gray-400">
                        La gymnastique olympique se divise en deux catégories principales : la gymnastique artistique et la gymnastique rythmique.
                        Elle allie grâce, force et souplesse, avec des performances sur divers agrès tels que les anneaux, la poutre et les barres asymétriques.
                        Chaque routine est un mélange de précision et de beauté.
                    </p>
                </article>
            </div>
        </div>

    <div class="max-w-3xl mx-auto text-center">
    <div class="mt-4">
        <a href="{{ path('sport.index') }}" title="" class="inline-flex items-center text-lg font-medium text-primary-600 hover:underline dark:text-primary-500">
            Voir plus de jeux
            <svg aria-hidden="true" class="w-5 h-5 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</section>

<section id="offers" class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="flex flex-wrap">
            <div class="p-5 w-full relative">
                {% include 'components/title.html.twig' with {'title': 'Nos offres'} %}
            </div>

            {% for offer in offers %}
                <div class="p-5 w-1/4">
                    {% include 'components/pricingCard.html.twig' with {'offer': offer} %}
                </div>
            {% endfor %}

            <div class="p-5 w-1/4 flex items-center">
                <div class="m-5 w-full text-center text-gray-900 bg-white dark:bg-gray-800 dark:text-white">
                    <a href="{{ path('offers.index') }}" class="inline-flex items-center text-lg font-medium text-primary-600 hover:underline dark:text-primary-500">
                        Voir toutes les offres
                        <svg aria-hidden="true" class="w-5 h-5 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
