{# templates/legacy/cookie.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Politique Relative aux Cookies{% endblock %}

{% block body %}
<section class="bg-white dark:bg-gray-900 py-8 px-4 mx-auto w-2/3 lg:py-16 flex justify-center h-screen">
    <div class="max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl text-center font-bold mb-8">Politique Relative aux Cookies</h1>

        <p class="mt-8 mb-4">La présente Politique relative aux cookies ("Politique relative aux cookies") décrit les différents types de cookies ou de technologies analogues (ci-après dénommés "cookie" ou "cookies") utilisés (i) en relation avec les sites Web et autres propriétés numériques gérés par le Comité International Olympique ("CIO"), seul ou en coopération avec la Fondation Olympique pour la Culture et le Patrimoine (la "Fondation") et, (ii) en relation avec les sites Web et autres propriétés numériques gérés par l'Olympic Refuge Foundation ("ORF"). Dans la présente Politique relative aux cookies et dans nos Paramètres des cookies, ces sites Web et autres propriétés numériques sont collectivement désignés sous le nom de "Plateformes numériques", et chacun est individuellement désigné sous le nom de "Plateforme numérique".</p>

        <p class="mb-4">Dans les présentes, toute référence à "nous" "notre" ou "nos" désigne le CIO et, s'il y a lieu, la Fondation.</p>

        <p class="mb-4">La Fondation s'engage sur les Plateformes numériques associées au Musée olympique (en particulier <a href="https://www.olympics.com/museum" class="text-blue-600 hover:underline">https://www.olympics.com/museum</a>, <a href="https://museumshop.olympics.com" class="text-blue-600 hover:underline">https://museumshop.olympics.com</a>) et au Centre d'Études Olympiques (en particulier <a href="https://www.olympics.com/ioc/olympic-studies-centre" class="text-blue-600 hover:underline">https://www.olympics.com/ioc/olympic-studies-centre</a>, <a href="https://library.olympics.com" class="text-blue-600 hover:underline">https://library.olympics.com</a>).</p>

        <p class="mb-4">L'ORF gère individuellement la Plateforme numérique suivante dans le cadre de ses propres activités et opérations : <a href="https://olympics.com/en/olympic-refuge-foundation/" class="text-blue-600 hover:underline">https://olympics.com/en/olympic-refuge-foundation/</a>. Le CIO bénéficie des cookies utilisés sur cette Plateforme numérique.</p>

        <p class="mb-4">Toute référence à "vous", "votre" ou "vos" se rapporte à vous en tant qu’utilisateur d'une ou plusieurs Plateformes numériques.</p>

        <p class="mb-4">Nous utilisons des cookies pour recueillir certaines données lorsque vous naviguez sur les Plateformes numériques, afin de vous distinguer en tant qu’utilisateur, que ce soit pendant la durée de votre visite ("cookies de session") ou lorsque vous revenez sur le site ("cookies persistants").</p>

        <p class="mb-4">Vous comprenez que toutes les Plateformes numériques auxquelles s'applique la présente Politique relative aux cookies ne sont pas gérées par le CIO (en particulier la Plateforme numérique <a href="https://olympics.com/en/olympic-refuge-foundation/" class="text-blue-600 hover:underline">https://olympics.com/en/olympic-refuge-foundation/</a>, qui est gérée par l'ORF).</p>

        <p class="mb-4">La présente Politique relative aux cookies s'applique uniquement à l'utilisation de cookies sur les Plateformes numériques. Le CIO n'est pas responsable des informations, du contenu ou des applications inclus sur les Plateformes numériques qu'il ne gère pas. Afin de déterminer qui est chargé de la gestion d'une Plateforme numérique spécifique, veuillez-vous référer à la Politique de confidentialité et/ou aux Conditions d'utilisation applicables fournies sur la plateforme en question.</p>

        <h2 class="text-2xl font-bold mt-8 mb-4">1) QU’EST-CE QU’UN COOKIE ?</h2>
        <p class="mb-4">Un cookie est un petit fichier stocké sur votre navigateur ou sur le disque dur de votre ordinateur, utilisé pour collecter des informations sur votre dispositif et vos interactions avec nos Plateformes numériques, comme le type de navigateur utilisé, le système d’exploitation, l’adresse IP, le type de dispositif, la localisation, la date et l’heure de la navigation.</p>

        <p class="mb-4">Les cookies sont placés sur votre appareil par nous ("cookies propriétaires") ou par des tierces parties ("cookies tiers"). Ces tiers comprennent des organisations qui nous fournissent des services d'analyse et de publicité. Ils peuvent inclure d'autres organisations du Mouvement olympique tels que les Comités d'organisation des Jeux Olympiques et Paralympiques ou nos partenaires marketing officiels. Les coordonnées de ces tiers sont répertoriées dans nos Paramètres des cookies, auxquels vous aurez accès lors de votre première visite sur les Plateformes numériques et pourrez accéder de nouveau lors de vos visites ultérieures.</p>

        <h2 class="text-2xl font-bold mt-8 mb-4">2) QUELS TYPES DE COOKIES UTILISONS-NOUS ?</h2>
        <p class="mb-4">Nous utilisons différents types de cookies, tels que décrits ci-dessous :</p>
        <ul class="list-disc list-inside mb-4">
            <li class="mb-2"><strong>Cookies strictement nécessaires :</strong> Ces cookies sont nécessaires au fonctionnement des Plateformes numériques et ne peuvent pas être désactivés dans nos systèmes. Ils ne sont généralement définis qu’en réponse à des actions de votre part équivalant à une demande de services, telles que la définition de vos préférences de confidentialité, la connexion ou le remplissage de formulaires. Vous pouvez paramétrer votre navigateur afin qu’il vous alerte de la présence de ces cookies ou les bloque, mais dans ce cas, certaines parties des Plateformes numériques ne fonctionneront pas.</li>
            <li class="mb-2"><strong>Cookies de fonctionnalité :</strong> Ces cookies améliorent la fonctionnalité et la personnalisation de nos Plateformes numériques en enregistrant vos préférences. Si vous n'autorisez pas ces cookies, tout ou partie des services disponibles via les Plateformes numériques pourraient ne pas fonctionner correctement.</li>
            <li class="mb-2"><strong>Cookies de performance et d'analyse :</strong> Ces cookies collectent certaines informations dans le but d'analyser et d'améliorer les performances des Plateformes numériques et d'offrir une expérience de qualité aux utilisateurs. Ils permettent notamment de déterminer le nombre de visites et les sources de trafic sur les Plateformes numériques. Si vous n'autorisez pas ces cookies, tout ou partie des services disponibles via les Plateformes numériques pourraient ne pas fonctionner correctement, et les informations concernant l'utilisation et la performance de ces plateformes pourraient ne pas être recueillies.</li>
            <li class="mb-2"><strong>Cookies de marketing et de publicité :</strong> Ces cookies permettent la personnalisation de la publicité en ligne en fonction de votre activité de navigation et de l'emplacement à partir duquel vous accédez à nos Plateformes numériques. Ils comprennent des cookies mis en place par nos partenaires publicitaires. Les cookies sont utilisés pour mesurer le trafic sur les Plateformes numériques, personnaliser les services, et établir votre profil et celui de vos intérêts pour présenter des publicités et des contenus pertinents. Si vous n'acceptez pas ces cookies, vous continuerez à voir de la publicité et du contenu en ligne, mais ils seront moins adaptés à vos besoins.</li>
            <li class="mb-2"><strong>Cookies de réseaux sociaux :</strong> Ces cookies sont définis par les fournisseurs de réseaux sociaux et incluent des cookies définis par les services de réseaux sociaux lorsque ceux-ci ont été ajoutés sur les Plateformes numériques. Ils permettent d'établir votre profil, vos intérêts et votre activité de navigation en ligne pour déterminer les audiences à qui des contenus et des publicités pertinents seront présentés sur d'autres sites Web. Si vous n’acceptez pas ces cookies, vous ne pourrez peut-être pas voir ni utiliser les outils de partage de réseaux sociaux.</li>
        </ul>

        <h2 class="text-2xl font-bold mt-8 mb-4">3) DÉLAI D’EXPIRATION</h2>
        <p class="mb-4">Les cookies peuvent être stockés sur votre navigateur ou sur le disque dur de votre ordinateur aussi longtemps que vous maintenez ce navigateur actif (pour les cookies de session) ou pour une période plus longue autorisée par la loi (pour les cookies persistants). Pour plus d’informations, consultez les Paramètres des cookies disponibles sur chaque Plateforme numérique.</p>

        <h2 class="text-2xl font-bold mt-8 mb-4">4) COOKIES PROPRIÉTAIRES/TIERS</h2>
        <p class="mb-4">Comme indiqué ci-dessus, des cookies propriétaires et des cookies tiers peuvent être placés sur votre appareil. Pour plus d’informations, consultez les Paramètres des cookies disponibles sur chaque Plateforme numérique.</p>

        <p class="mb-4">Les données collectées par ces cookies tiers seront traitées à des fins déterminées par leurs fournisseurs. À défaut, lesdits fournisseurs traiteront les données en notre nom. Veuillez visiter le site Web de ces fournisseurs tiers pour obtenir plus d’informations sur la façon dont ils utilisent les cookies et sur la manière d'exercer vos droits. Les coordonnées de ces tiers sont indiquées dans nos Paramètres des cookies.</p>

        <p class="mb-4">Si vous refusez l’utilisation de tous les cookies, ni les cookies propriétaires, ni les cookies tiers ne seront utilisés (à l'exception de ceux qui sont strictement nécessaires).</p>

        <h2 class="text-2xl font-bold mt-8 mb-4">5) COMMENT GÉRER LES COOKIES ?</h2>
        <p class="mb-4">Vous êtes libre de refuser ou de retirer votre consentement à tous les cookies (à l’exception de ceux qui sont strictement nécessaires) ou de les gérer grâce aux Paramètres des cookies disponibles sur chaque Plateforme numérique.</p>

        <p class="mb-4">En plus des Paramètres des cookies disponibles sur chaque Plateforme numérique, vous pouvez gérer votre paramétrage des cookies dans votre navigateur Internet. Pour plus d’informations, se reporter aux liens ci-dessous :</p>
        <ul class="list-disc list-inside mb-4">
            <li class="mb-2"><a href="https://support.microsoft.com/en-us/microsoft-edge/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09#:~:text=Delete%20cookies%20every%20time%20you%20close%20the%20browser,on%20the%20Cookies%20and%20other%20site%20data%20toggle" class="text-blue-600 hover:underline">Utilisateurs de Microsoft Edge</a></li>
            <li class="mb-2"><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferencesand" class="text-blue-600 hover:underline">Utilisateurs de Mozilla Firefox</a></li>
            <li class="mb-2"><a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" class="text-blue-600 hover:underline">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></li>
            <li class="mb-2"><a href="https://support.google.com/chrome/answer/95647?hl=en" class="text-blue-600 hover:underline">Utilisateurs de Google Chrome</a></li>
            <li class="mb-2"><a href="https://help.apple.com/safari/mac/8.0/#/sfri11471" class="text-blue-600 hover:underline">Utilisateurs de Safari</a></li>
        </ul>

        <p class="mb-4">Vous avez également à tout moment la possibilité de retirer votre consentement à l’utilisation de cookies en supprimant ces derniers dans vos paramètres de navigation. Si vous bloquez l’utilisation des cookies sur votre navigateur, il se peut que vous n’ayez plus accès à certains services et fonctionnalités de la Plateforme numérique, comme les fonctionnalités de vidéo intégrée.</p>

        <p class="mb-4">Pour plus d’informations sur les cookies, rendez-vous sur <a href="https://www.allaboutcookies.org" class="text-blue-600 hover:underline">www.allaboutcookies.org</a>.</p>

        <p class="mb-4">Les utilisateurs aux États-Unis peuvent refuser les cookies publicitaires ciblés. Par exemple, vous pouvez vous rendre sur la page Consumer Choice de la Digital Advertising Alliance ("DAA") pour plus d’informations sur le refus de la publicité ciblée par centres d’intérêt et sur vos choix en matière d’utilisation des informations par les sociétés adhérentes à la DAA. Vous pouvez aussi vous rendre sur la page Consumer Opt-Out de la Network Advertising Initiative ("NAI") pour obtenir plus d’informations sur le refus de la publicité ciblée par centres d’intérêt et sur vos choix en matière d’utilisation des informations par les membres de la NAI.</p>

        <p class="mb-4">Refuser de recevoir du contenu ou des publicités ciblés sur vos centres d’intérêt de la part d’une ou plusieurs sociétés listées sur la page Consumer Choice de la DAA ou Consumer Opt-Out de la NAI ne signifie pas que vous ne recevrez plus aucune publicité par l’intermédiaire de nos Plateformes numériques. Vous pourrez continuer à recevoir des publicités, par exemple basées sur le site Web sur lequel vous naviguez (c.-à-d. des publicités contextuelles). De même, si vos navigateurs sont configurés pour rejeter les cookies lorsque vous émettez un refus sur les sites Web de la DAA ou de la NAI, votre refus peut ne pas être pris en compte. Pour exprimer votre refus et obtenir des informations supplémentaires, rendez-vous sur : <a href="https://optout.aboutads.info/?c=2&lang=EN" class="text-blue-600 hover:underline">https://optout.aboutads.info/?c=2&lang=EN</a> et <a href="https://optout.networkadvertising.org/?c=1" class="text-blue-600 hover:underline">https://optout.networkadvertising.org/?c=1</a>.</p>

        <h2 class="text-2xl font-bold mt-8 mb-4">6) MODIFICATIONS DE LA POLITIQUE RELATIVE AUX COOKIES</h2>
        <p class="mb-4">Nous nous réservons le droit d’apporter des modifications à la présente Politique relative aux cookies, à tout moment. Au moment d’effectuer ces modifications, nous actualiserons la date de "dernière mise à jour" indiquée à la fin de la Politique relative aux cookies, étant précisé que toute modification prendra effet immédiatement, dès publication. Lorsque nous apportons des modifications à la présente Politique relative aux cookies, nous vous en informons à l’avance dans le cas où cela affecte vos droits en tant qu’utilisateur des Plateformes numériques ou si la loi l’exige, par exemple en postant un avis pertinent sur les Plateformes numériques. Néanmoins, en poursuivant votre utilisation des Plateformes numériques une fois les modifications susvisées notifiées, vous consentez aux modifications. Nous vous invitons à consulter la version en vigueur de la présente Politique relative aux cookies à chaque fois que vous utilisez les Plateformes numériques.</p>

        <p class="mb-4">Dernière mise à jour de la présente Politique relative aux cookies datée du 12 mars 2024.</p>

        <h2 class="text-2xl font-bold mt-8 mb-4">7) PLUS D’INFORMATIONS</h2>
        <p class="mb-4">Pour en savoir plus sur notre traitement de vos données à caractère personnel à l'aide de cookies, ainsi que sur vos droits en vertu des lois applicables en matière de protection des données, veuillez consulter notre Politique de confidentialité sur <a href="https://olympics.com/fr/privacy-policy" class="text-blue-600 hover:underline">olympics.com/fr/privacy-policy</a>.</p>

        <p class="mb-4">En ce qui concerne les cookies tiers, veuillez consulter leur Politique relative aux cookies et leur politique de confidentialité pour comprendre la manière dont ils traitent vos données à caractère personnel et comment vous pouvez exercer vos droits.</p>

        <p class="mb-4">Si vous avez des questions au sujet des informations contenues dans la présente Politique relative aux cookies, vous pouvez nous contacter grâce au lien de contact du CIO. Les adresses postales ou autres coordonnées du CIO et de la Fondation figurent dans notre Politique de confidentialité disponible sur <a href="https://olympics.com/fr/privacy-policy" class="text-blue-600 hover:underline">olympics.com/fr/privacy-policy</a>.</p>
    </div>
</section>
{% endblock %}
