{# templates/legacy/cookie.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Politique Relative aux Cookies{% endblock %}

{% block body %}
<section class="bg-white dark:bg-gray-900 py-8 px-4 mx-auto w-2/3 lg:py-16 flex justify-center h-screen">
  <div class="max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl text-center font-bold mb-8">CONDITIONS D’UTILISATION</h1>

    <p class="mt-8 mb-4">Les présentes Conditions d’utilisation, y compris les autres documents mentionnés aux présentes, telles que périodiquement mises à jour, s’appliquent à votre utilisation des Services. Dans ce contexte, le terme "Services" désigne tous les services numériques, tels que les sites Web (y compris Olympics.com), applications mobiles, applications pour TV connectée, bulletins d’information, systèmes d’inscription, services professionnels en ligne et autres ressources commerciales gérés par le Comité International Olympique (le "CIO"), seul ou en coopération avec d'autres membres du Mouvement olympique, tels que la Fondation olympique pour la Culture et le Patrimoine (la "Fondation") et/ou le(s) Comité(s) d'organisation des Jeux Olympiques et des Jeux Paralympiques.</p>

    <p class="mb-4">Des règles spécifiques et des conditions supplémentaires (les "Conditions supplémentaires") peuvent s’appliquer du fait de la nature et de l’objet de certains des Services. C’est le cas, par exemple, de certains services professionnels en ligne et d’autres ressources commerciales ("Services B2B") ou des mécanismes de rapport gérés par le CIO. Dans de tels cas, ces conditions particulières seront portées à votre attention avant que vous n’utilisiez les Services concernés et prévaudront sur les présentes Conditions d’utilisation en cas d’incohérence ou de contradiction.</p>

    <p class="mb-4">Des conditions distinctes peuvent s'appliquer aux activités numériques (notamment sur le site Olympics.com ou en relation avec celui-ci) gérées principalement ou exclusivement par des membres du Mouvement olympique autres que le CIO et/ou la Fondation (par exemple, activités numériques sur une section du site Olympics.com consacrée à une édition spécifique des Jeux). Dans de tels cas, les présentes Conditions d'utilisation ne s'appliquent pas. Les conditions distinctes applicables seront mises à votre disposition sur les pages web concernées et/ou portées à votre connaissance de toute autre manière avant que vous n'utilisiez les Services concernés.</p>

    <p class="mb-4">Pour plus de simplicité, les Conditions d’utilisation et toutes les Conditions supplémentaires seront collectivement désignées ci-après comme les "Conditions".</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">QUI SOMMES-NOUS ?</h2>

    <p class="mb-4">Dans les présentes Conditions d’utilisation, toute référence à "nous", "notre" ou "nos" désigne le CIO et, le cas échéant, la Fondation et/ou tout autre membre du Mouvement olympique.</p>

    <p class="mb-4">Toute référence à "vous", "votre" ou "vos" désigne vous en tant qu’utilisateur des Services.</p>

    <p class="mb-4">Le CIO est une organisation internationale indépendante à but non lucratif, reconnue d’intérêt public par les autorités suisses et constituée sous la forme d’une association de droit suisse, dont le siège social dit Maison Olympique (Olympic House) est sis 1007 Lausanne, Suisse. La mission du CIO consiste à promouvoir l’olympisme partout dans le monde, à diriger le Mouvement olympique et à assurer la célébration régulière des Jeux Olympiques. Pour en savoir plus sur le CIO, nos objectifs et nos activités, consultez la Charte Olympique et les informations fournies sur notre site Web <a href="https://www.olympics.com/ioc/principles" class="text-blue-600 hover:underline">https://www.olympics.com/ioc/principles</a>.</p>

    < class="mb-4">La Fondation a été créée par le CIO afin de promouvoir l’olympisme dans les domaines de la culture, du patrimoine et de l’éducation. Elle gère le Musée olympique et le Centre d’Études Olympiques à Lausanne, en Suisse.

    Un comité d'organisation des Jeux Olympiques et Paralympiques est responsable de l'organisation d'une édition des Jeux Olympiques et des Jeux Paralympiques. Chacun de ces comités d'organisation a son siège sur le territoire où se dérouleront ses Jeux olympiques et Paralympiques concernés.

    <h2 class="text-2xl font-bold mt-8 mb-4">POURQUOI LIRE LES PRÉSENTES CONDITIONS D’UTILISATION ?</h2>

    <p class="mb-4">Nos Conditions visent à vous informer des conditions dans lesquelles vous pouvez utiliser les Services, utiliser, afficher et partager le Contenu du CIO, et y accéder (tel que défini ci-dessous). En accédant aux Services et en les utilisant, vous acceptez d’être lié par les présentes Conditions. Dans l’éventualité où vous seriez en désaccord avec ces Conditions, merci de ne pas utiliser les Services.</p>

    <p class="mb-4">Veuillez noter que si vous accédez au Contenu du CIO (tel que défini ci-dessous) via des services gérés par des tiers, tels que des réseaux sociaux, les conditions supplémentaires établies par lesdits tiers sont également susceptibles de s’appliquer.</p>

    <p class="mb-4">Nous nous réservons le droit de modifier les présentes Conditions à tout moment. Au moment d’effectuer ces modifications, nous actualiserons la date de "dernière mise à jour" indiquée à la fin des Conditions d’utilisation, étant précisé que toute modification prendra effet dès sa publication. Lorsque nous apportons des modifications aux présentes Conditions, nous vous en informons suffisamment à l’avance si cela affecte vos droits en tant qu’utilisateur des Services ou si la loi l’exige. Néanmoins, en poursuivant votre utilisation des Services après ladite publication des modifications, vous consentez auxdites modifications. Nous vous invitons à consulter la version en vigueur des présentes Conditions à chaque fois que vous utilisez les Services.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">1) QUE PROPOSENT LES SERVICES ?</h2>
    <h3 class="text-2xl font-bold mt-8 mb-4">1.1 Contenu olympique</h3>

    <p class="mb-4">Aux termes des présentes Conditions d’utilisation, "Contenu olympique" désigne tout contenu audiovisuel ou autre, toute information ou tout matériel accessible via les Services, tels que des textes, des illustrations, des œuvres graphiques, des données, des images animées ou non, des sons, des musiques ou des logiciels. Le Contenu olympique est protégé par le droit d’auteur, des marques ou d’autres droits de propriété intellectuelle. À l’exception de "Votre Contenu" (tel que défini ci-après), l’ensemble des droits, y compris les droits de propriété intellectuelle ou tout autre droit de propriété relatif aux Services et au Contenu olympique sont détenus par le CIO, la Fondation et/ou tout autre membre du Mouvement olympique, ou nous sont concédés sous licence par leur titulaire respectif. Tous les droits qui ne vous sont pas expressément cédés en vertu des présentes Conditions sont réservés.</p>

    <p class="mb-4">Le Contenu olympique est susceptible de varier selon votre localisation géographique ou l’appareil que vous utilisez pour accéder aux Services, ou selon que vous avez ou non créé un compte utilisateur.</p>

    <h3 class="text-2xl font-bold mt-8 mb-4">1.2 Votre Contenu</h3>

    <p class="mb-4">Grâce aux Services, vous pouvez donner votre avis et interagir avec d’autres utilisateurs, en laissant des commentaires ou en publiant d’autres types de contenus ("Votre Contenu").</p>

    <p class="mb-4">Vous conservez tous les droits de propriété relatifs à Votre Contenu et en êtes l’unique responsable. Toutefois, en mettant Votre Contenu à notre disposition, vous nous concédez une licence non exclusive, gratuite, mondiale et transférable (et le droit de concéder une sous-licence) nous autorisant à utiliser, reproduire, afficher, distribuer, publier et élaborer des versions dérivées de Votre Contenu, en tout ou partie, sous tout format et sur tout support, actuel ou futur, en rapport avec le CIO, la Fondation et/ou tout membre du Mouvement olympique, et la promotion dudit Mouvement olympique. Vous concédez également à chaque utilisateur des Services une licence non exclusive, gratuite et pour le monde entier, lui permettant d'accéder à Votre Contenu lors de l'utilisation des Services et de l’utiliser conformément aux présentes Conditions. Toutes les licences qui nous sont concédées à nous et aux utilisateurs des Services en lien avec Votre Contenu, sont à durée indéterminée, à moins que vous ne demandiez le retrait de Votre Contenu des Services.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">2) QUI EST AUTORISÉ À UTILISER LES SERVICES ?</h2>

    <p class="mb-4">Les Services sont destinés aux utilisateurs qui ont l'âge légal requis pour bénéficier des Services et de mesures de protection des données (conformément aux lois de leur territoire de résidence). Pour en savoir plus sur nos exigences relatives à l'âge à des fins de protection des données, suivez ce lien : https://olympics.com/en/age-consent.</p>

    <p class="mb-4">La plupart de nos Services sont disponibles au grand public, mais l’accès et l’utilisation de certains services B2B peuvent être limités aux collaborateurs, consultants et parties prenantes du CIO, de la Fondation ou du Mouvement olympique et à tout autre tiers autorisé.</p>

    <p class="mb-4">L’utilisation des Services s’effectue à vos propres risques, et il est de votre responsabilité de vous assurer que votre utilisation des Services est conforme aux lois et réglementations en vigueur dans votre pays de résidence ou d’utilisation.</p>

    <p class="mb-4">Nous nous réservons le droit, à notre discrétion, de suspendre votre accès aux Services et à votre compte, notamment si nous pensons que vous ne respectez pas les présentes Conditions.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">3) COMMENT UTILISER LES SERVICES ?</h2>

    <p class="mb-4">Nous vous concédons une licence limitée, révocable, non exclusive, non transférable et non sous-licenciable, permettant l’utilisation des Services et du Contenu olympique et l'accès à ceux-ci, à des fins d’information uniquement, sous réserve de toute condition supplémentaire définie dans les Conditions supplémentaires et sous réserve que vous respectiez les Conditions et, en particulier, les suivantes :</p>

    <p class="mb-4">a) les Services ne peuvent être utilisés à des fins publicitaires ou d’une quelconque manière qui impliquerait une association entre, d’une part, un tiers ou un produit/service tiers, et d’autre part, le CIO, la Fondation ou le Mouvement olympique, sans notre autorisation écrite préalable.</p>

    <p class="mb-4">b) grâce aux fonctionnalités disponibles, vous êtes autorisé à partager le Contenu olympique à des fins exclusivement personnelles et non commerciales, et de manière conforme aux présentes Conditions.</p>

    <p class="mb-4">c) vous n’êtes pas autorisé à mettre en ligne ou à publier sur les Services des commentaires ou d’autres contenus à caractère illicite, diffamatoire, violent, obscène, raciste, discriminatoire à l’égard de tout tiers ou contraires aux valeurs olympiques.</p>

    <p class="mb-4">d) vous n’êtes pas autorisé à utiliser ou à tenter d’utiliser les Services ou le Contenu olympique dans le but de commettre des actes illicites ou de diffamer, de harceler, d'insulter autrui ou de vous faire passer pour un tiers ou un autre utilisateur.</p>

    <p class="mb-4">e) sauf mention expresse contraire dans les présentes Conditions, vous n’êtes pas autorisé à copier, archiver, télécharger, reproduire, modifier, diffuser, communiquer au public et/ou rendre disponibles les Services ou tout Contenu olympique sans notre autorisation écrite préalable.</p>

    <p class="mb-4">f) vous n’êtes pas autorisé à transférer, céder ou concéder en sous-licence les droits et les licences qui vous ont été octroyés en vertu des présentes Conditions ; a contrario, nous pouvons céder nos droits et obligations sans restriction.</p>

    <p class="mb-4">g) vous n’êtes pas autorisé à modifier ou à contourner, ni à tenter de modifier ou de contourner quelque élément des Services que ce soit, ni à inciter ou aider une autre personne à les modifier ou à les contourner.</p>

    <p class="mb-4">h) vous n’êtes pas autorisé à lancer des systèmes automatisés tels que des "robots", "araignées", "aspirateurs de site Web", "virus", "vers informatiques" ou encore "chevaux de Troie", ayant pour objet ou effet de perturber les Services.</p>

    <p class="mb-4">i) vous n’êtes pas autorisé à recueillir ou utiliser de données à caractère personnel concernant d’autres utilisateurs des Services ou des tiers associés aux Services, ni à utiliser les Services à des fins de sollicitation commerciale.</p>

    <p class="mb-4">j) vous n’êtes pas autorisé à faciliter ou encourager la violation par des tiers des présentes Conditions d’utilisation.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">4) COMMENT CRÉER UN COMPTE UTILISATEUR ?</h2>

    <p class="mb-4">Il n’est généralement pas nécessaire de créer un compte utilisateur pour avoir accès au Contenu olympique et aux Services et les utiliser ; toutefois, certaines caractéristiques et fonctionnalités des Services, ainsi qu'une partie du Contenu olympique, ne sont accessibles qu’aux seuls utilisateurs enregistrés et ayant créé un compte utilisateur. Pour certains Services, la création d’un compte utilisateur peut être soumise à des conditions supplémentaires ou être réservée aux collaborateurs, consultants et parties prenantes du CIO, de la Fondation ou de tout membre du Mouvement olympique, et à tout autre tiers autorisé.</p>

    <p class="mb-4">Vous pouvez créer un compte utilisateur en souscrivant aux Services. L’inscription nécessite que vous nous communiquiez certaines données vous concernant. Pour plus d’informations, consultez notre Politique de confidentialité (olympics.com/fr/privacy-policy)).</p>

    <p class="mb-4">Toute information que vous fournissez lors du processus d’inscription doit être exacte et complète. Vous êtes responsable de l’exactitude et de l’exhaustivité des informations fournies, de la confidentialité de votre nom d’utilisateur et de votre mot de passe, ainsi que de toutes les activités qui se déroulent sur votre compte.</p>

    <p class="mb-4">Lors de votre inscription, nous vous demanderons de confirmer que vous acceptez les Conditions d’utilisation et que vous avez lu et compris notre Politique de confidentialité.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">5) QUELLES INFORMATIONS COLLECTONS-NOUS SUR VOUS ET QUEL USAGE EN FAISONS-NOUS ?</h2>

    <p class="mb-4">Lorsque vous utilisez les Services et créez un compte utilisateur, nous collectons certaines données vous concernant. Notre Politique de confidentialité et notre Politique relative aux cookies(olympics.com/fr/cookie-policy) vous renseigneront sur les données que nous recueillons et sur l’usage que nous en faisons.</p>

    <h2 class="text-2xl font-bold mt-8 mb-4">6) QUE DEVEZ-VOUS SAVOIR D’AUTRE ?</h2>

    <h3 class="text-2xl font-bold mt-8 mb-4">6.1 Vous acceptez les conditions suivantes :</h3>


    <p class="mb-4">a) nous (y compris nos dirigeants, administrateurs, employés, agents, sociétés affiliées et sous-traitants) déclinons toute responsabilité pour les pertes et/ou dommages causés par toute utilisation non autorisée de votre compte utilisateur et il est de votre responsabilité d’informer immédiatement le CIO de toute violation de la sécurité ou utilisation non autorisée de votre compte utilisateur ;</p>

    <p class="mb-4">b) malgré nos efforts pour fournir des informations exactes et empêcher les perturbations occasionnées par des problèmes techniques, les Services peuvent contenir des erreurs techniques, des inexactitudes et des erreurs typographiques ou être momentanément inaccessibles, sans que nous puissions en être tenus responsables ;</p>

    <p class="mb-4">c) votre utilisation des Services requiert un ou plusieurs appareils compatibles, un accès Internet, du matériel et des logiciels, ainsi que l’obtention périodique de mises à jour et de mises à niveau. Vous acceptez que votre capacité à utiliser les Services peut être affectée par la performance de ces équipements et que ces exigences de système sont de votre responsabilité, ainsi que tous les coûts encourus pour leur utilisation, y compris les frais de vos fournisseurs d’accès Internet ou de données ;</p>

    <p class="mb-4">Les Services, y compris tout le Contenu olympique, vous sont fournis "en l’état" et, dans toute la mesure permise par les lois et réglementations en vigueur, nous (y compris nos dirigeants, administrateurs, employés, agents, affiliés et sous-traitants) déclinons toute garantie expresse ou implicite en rapport avec les Services, le Contenu olympique (notamment tout lien vers des sites Web tiers, et toute offre de service ou de produit faite par des tiers) et votre utilisation de ceux-ci. À ce titre, toutes garanties de disponibilité des Services et d’adéquation à un usage particulier sont exclues ;</p>

    <p class="mb-4">e) chacun des membres du Mouvement olympique (notamment le CIO, ainsi que leurs dirigeants, administrateurs, employés, agents, affiliés et sous-traitants respectifs) décline toute responsabilité pour les Services et/ou les parties du Contenu olympique fournis par d'autres membres du Mouvement olympique. Sauf mention contraire expresse, la fourniture de Services (notamment certaines parties du site Olympics.com et/ou du Contenu olympique) par d'autres membres du Mouvement olympique ne doit pas être interprétée comme une recommandation ou une promotion de la part du CIO ;</p>

    <p class="mb-4">f) nous nous réservons le droit de modifier, d’améliorer, de mettre à jour et de suspendre toute fonctionnalité des Services ou à tout Contenu olympique, sans préavis et à notre entière discrétion, ou d'y mettre fin.</p>

    <p class="mb-4">g) sauf mention contraire expresse, les liens des Services vers tout site Web ou service tiers, ou toute offre de produit ou service émanant de tiers, ne doivent pas être interprétés comme des recommandations ou des promotions de notre part ; et</p>

    <p class="mb-4">h) bien que nous fassions de notre mieux pour répondre dans des délais raisonnables à toute question ou demande qui nous est adressée par l’intermédiaire des Services, nous ne garantissons aucun délai d’exécution spécifique et nous réservons le droit de nous abstenir de répondre à toute communication qui ne serait pas conforme aux présentes Conditions d’utilisation.</p>

    <h3 class="text-2xl font-bold mt-8 mb-4">6.2 Dans toute la mesure permise par les lois en vigueur, nous (y compris nos dirigeants, directeurs, employés, agents, sociétés affiliées et sous-traitants) ne saurions être tenus responsables envers vous ou envers des tiers pour tout dommage lié à :</h3>


    <p class="mb-4">a) votre accès aux Services et à tout Contenu olympique ou aux sites Web liés aux Services, ainsi que leur utilisation ;</p>

    <p class="mb-4">b) tout accès non autorisé à nos serveurs et/ou à toute donnée personnelle ou autre information qui y est stockée, ainsi que leur utilisation ;</p>

    <p class="mb-4">c) toute erreur ou inexactitude présente dans le Contenu olympique ;</p>

    <p class="mb-4">d) tout type de retard, d’interruption, de panne, de mauvaise qualité ou toute autre sorte de limitation dans les transmissions des Services ou dans la fourniture des services associés ; et</p>

    <p class="mb-4">e) tout bug, virus ou autre problème similaire transmis aux Services ou par leur intermédiaire par un tiers.</p>

    <h3 class="text-2xl font-bold mt-8 mb-4">6.3 Vous acceptez de défendre, d’indemniser et de dégager le CIO, la Fondation et tout autre membre pertinent du Mouvement olympique (y compris leurs dirigeants, administrateurs, employés, agents, sociétés affiliées et sous-traitants respectifs) de toute responsabilité relative à toute réclamation ou demande de dommages-intérêts (y compris les honoraires d’avocat) découlant de votre violation des présentes Conditions. Cette obligation d’assurer la défense et l’indemnisation survivra à toute expiration ou résiliation des présentes Conditions, et à la cessation de votre utilisation des Services. Vous acceptez en outre que le CIO, la Fondation et/ou tout autre membre pertinent du Mouvement olympique puissent, conjointement ou individuellement, invoquer à votre égard tout droit ou toute protection qui leur est accordé en vertu des présentes Conditions.</h3>


    <h3 class="text-2xl font-bold mt-8 mb-4">6.4 Aucune action de notre part, autre qu'une renonciation ou une modification écrite, ne saurait être interprétée comme une renonciation ou une modification des présentes Conditions. Si une disposition des présentes Conditions était jugée invalide ou inapplicable, le reste des présentes Conditions resterait valide et applicable dans toute la mesure du possible en vertu du droit applicable.</h3>


    <h3 class="text-2xl font-bold mt-8 mb-4">6.5 Les Conditions seront régies et interprétées selon le droit Suisse, nonobstant toute règle relative aux conflits de lois. Tout litige découlant de l’exécution ou de l’interprétation des présentes Conditions, ou en relation avec ces dernières, ainsi que leur violation, qui ne peut être réglé à l’amiable, sera soumis à la compétence exclusive des tribunaux de Lausanne, Suisse.</h3>


    <p class="mb-4">Dernière mise à jour des présentes Conditions d'utilisation datée du 12 mars 2024.</p>

    <p class="mb-4">Comité International Olympique, Maison Olympique (Olympic House), 1007 Lausanne, Suisse.</p>

    <p class="mb-4">Fondation Olympique pour la Culture et le Patrimoine, Quai d’Ouchy 1, 1006 Lausanne, Suisse.</p>
  </div>
</section>
{% endblock %}
