{% extends 'base.html.twig' %}

{% block title %}Toutes nos offres{% endblock %}

{% block body %}
<section id="offers" class="bg-white dark:bg-gray-900 py-8 px-4 mx-auto w-2/3 lg:py-16 flex justify-center items-center">
    <div class="flex flex-wrap">
        <div class="p-5 w-full relative">
            {% include 'components/title.html.twig' with {'title': 'Nos offres'} %}
        </div>

        {% for offer in offers %}
            <div class="p-5 w-1/3">
                {% include 'components/pricingCard.html.twig' with {'offer': offer} %}
            </div>
        {% endfor %}
    </div>
</section>


{% endblock %}
