@tailwind base;
@tailwind components;
@tailwind utilities;

#home {
  background-image: url('/images/bg-jo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}