<div class="relative">
  <div class="absolute font-extrabold text-xxxl !bg-clip-text text-transparent" style="background: linear-gradient(45deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.04) 50%)">{{ title }}</div>
  <h2 class="absolute text-xxl font-extrabold ml-7 mt-24">{{ title }}</h2>
</div>